/*Center all texts*/
* {
  text-align: center;
}

/*Set style when the user hovers over a link in the navigation bar*/
.navbar a:hover {
  background: #6df1a9;
}

/*Set background color and border for navbar*/
nav {
  background-color: #f3f3ee;
  border-top: solid;
  border-bottom: solid;
}

/*Center h1 with class title, set font and background color and make the size responsive*/
h1.title {
  color: black;
  background-color: #6df1a9;
  margin-bottom: 0px;
  font-size: 7vw;
}

/*Adjust size for small titles beneath the pictures*/
.small-title {
  font-size: 1.2em;
}

/*Set size for images*/
img {
  height: 90%;
  width: 100%;
}

/*Set size for images with this specific class (the images beside experience and academic bakground*/
img.logo {
  height: auto;
  width: 6rem;
  vertical-align: middle;
}

/*Set size for images with this specific class (the image for the projects section)*/
img.small {
  height: auto;
  width: 25vw;
  min-width: 10px;
  vertical-align: middle;
}

/*Set style for pictures with polaroid effect*/
div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Set background color for odd sections*/
.odd {
  background-color: #f3f3ee;
}

/*Set background color for even sections*/
.even {
  background-color: #bbe3f5;
}

/*Set background color and padding for footer*/
footer {
  background-color: #6df1a9;
  padding: 2px;
}

/*Style the jumbotron for the footer*/
.jumbotron {
  background-color: #6df1a9;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

/*Set size for the images in the footer*/
.icon {
  height: 2rem;
  width: 2rem;
}

/*Set padding and margin for the lists and list items*/
ul li {
  padding: 10px;
  margin: 20px;
}

/*Set padding and margin for lists and list items in the navbar and in the content menus*/
ul.navbar-bar,
li.nav-item,
li.menu {
  padding: 0px;
  margin: 0px;
}

/*Set margin for all paragraphs*/
p {
  margin-bottom: 5px;
}

/*Underline text for texts with this class*/
.underlined {
  text-decoration: underline;
}

/*Set width for the videos.*/
.video {
  width: 100%;
}

/*Set color for links in the content menus*/
a {
  color: darkblue;
}
